# Django Settings
SECRET_KEY=z0ay8buxje$@q7o(sh9#h&-qw++ele)13r5wkq@)rk306-j&i
DEBUG=True

# Database Configuration for XAMPP MySQL
DB_NAME=si_unh_db
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306

# Generate SECRET_KEY dengan command:
# python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
